@font-face {
  font-family: "Didot";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/abe3d3a9-c990-459f-9407-54ac96cd2f00.woff2")
      format("woff2"),
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/09a4b57b-7400-4d30-b4ba-d6e303c57868.woff")
      format("woff");
}

@font-face {
  font-family: "Bree";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ceb3b4a3-0083-44ae-95cb-e362f95cc91b.woff2")
      format("woff2"),
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4d716cea-5ba0-437a-b5a8-89ad159ea2be.woff")
      format("woff");
}

@font-face {
  font-family: "Brandon-Grot";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2")
      format("woff2"),
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9362bca5-b362-4543-a051-2129e2def911.woff")
      format("woff");
}

* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#page {
  padding: 0;
  background-color: #fcf8ed;
}

#banner {
  background-color: #8cae36;
  font-weight: bold;
  font-style: italic;
}

#topLinks {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.topLink {
  background-color: #3e6a31;
  padding-inline: 15px;
  padding-block: 7px;
  border-radius: 50px;
}

nav {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.navItemBox {
  padding: 20px;
  font-family: Bree;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  list-style-type: none;
  padding: 0px;
}

h1 {
  margin: 20px;
  color: #3e6a31;
  font-weight: 1;
  font-style: italic;
  font-family: Didot;
  font-size: 28px;
}

h2 {
  color: #4e7641;
  font-family: Brandon-Grot;
  font-style: italic;
  font-weight: 10;
  font-size: 28px;
  padding: 15px;
}


.placeholder {
  height: 300px;
  background-color: lightblue;
  max-width: 800px;
  margin: auto;
}

.imageAndTextInline {
  display: flex;
  align-items: center;
  margin-block: 30px;
  justify-content: center;
}

.smallPlaceholder {
  width: 200px;
  height: 200px;
  background-color: mediumturquoise;
}

.imageTitle {
  color: black;
  margin-left: 20px;
  width: 150px;
  text-decoration: underline;
}

#snacks {
  max-width: 80%;
  margin: 20px;
}

@media screen and (min-width: 1500px) {
  #snacks {
   max-width: 30%; /* For medium screens and up */
  }
 }

#restaurantsBody {
  margin-inline: 10%;
}

@media screen and (min-width: 1500px) {
  #restaurantsBody {
    margin-inline: 30%;
  }
}

h3 {
  text-align: left;
  font-family: Brandon-Grot;
  color:#3e6a31;
  font-size: 25px;
  font-weight: 2;
}

#restaurantsTop {
  padding-block: 15px;
}

.restaurant {
  padding-left: 3em;
  text-align: left;
  padding-block: 10px;
}

.phone {
  color:#3e6a31;
  font-size: 0.75em;
  font-style: italic;
}

.phone a {
  color:#3e6a31;
  text-decoration: underline;
}

i {
  color: #3e6a31;
  font-weight: 2;
}

p {
  color: #3e6a31;
  margin: 40px;
  margin-inline: 150px;
  font-style: italic;
  font-family: Brandon-Grot;
  font-size: 25px;
}

footer {
  background-color: #8cae36;
  padding: 20px;
  font-size: 0.75em;
  margin-top: 50px;
}

#brand {
  color: white;
}
